@import "src/styles/media";

.confirm {
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  //row-gap: 180px;
  width: 90%;
  height: 300px;
  max-width: 500px;
  padding: 10px;
  color: var(--color-dark);
  background: var(--color-gray);
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);

  &__control {
    display: flex;
    justify-content: space-around;

    @include mobile-s {
      flex-direction: column;
      row-gap: 10px;
    }
  }
}